.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    background: #0C0908;
    width: 100%;
    height: 80px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-image {
    width: 75px;
}

.header-list {
    display: flex;
}

.header-item{
    text-decoration: none;
    color: white;
    padding: 2em 1em;
    transition: 1s;
    font-size: 15px;
}

.header-item:hover {
    color: gray;
}

.dropdown-container {
    position: relative;
}

.dropdown-btn {
    padding: 0 1em .8em 1em;
    background: transparent;
    border: none;
    cursor: pointer;
}


.dropdown {
    background: #0C0908;
    display: none;
    transition: 1s;
    position: absolute;
    padding: .5em;
    z-index: 999;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 2px 8px;
    transition: 1s;

}

.dropdown-item:hover {
    color: var(--principal-color);
}

.btn-search, .btn-notification, .profile-photo {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-right: 1em;
}

.profile-text {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
}

.profile-text:hover {
    color: var(--principal-color);
}

@media screen and (max-width: 440px){
    .header-container {
        justify-content: center;
        margin: 0;
    }
}



