.continue {
    color: white;
    margin-left: 9em;
}

.container-title {
    font-weight: 600;
}

.slide {
    display: flex;
}

.slide-image {
    padding-top: 1em;
    padding-right: .5em;
    width: 230px;
    height: 140px;
    border-radius: 10px;
    transition: 1s;
}

.slide-image:hover {
    width: 260px;
    height: 180px;
}

.recomendation, .ficction {
    color: white;
    margin-left: 9em;
    margin-top: 1.5em;
}