.continue {
    color: white;
    margin-left: 9em;
}

.container-title {
    font-weight: 600;
}

.slide {
    display: flex;
}

.slide-image {
    padding-top: 1em;
    padding-right: .5em;
    width: 280px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
}

.slide-image:hover {
    width: 320px;
    height: 200px;
}

.recomendation, .action, .drama, .fiction, .horror, .romance  {
    color: white;
    margin-left: 9em;
    margin-top: 1.5em;
}

.horror {
    margin-bottom: 7em;
}

