.continue {
    color: white;
    margin-left: 9em;
}

.container-title {
    font-weight: 600;
}

.slide {
    display: flex;
}

.slide-image {
    width: 280px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    object-position: center;
    margin: 8px 8px 8px 0;
 }
 
 .slide-image:hover {
    transform: scale(1.1);
    margin: 0 15px;
 }

.recomendation, .action, .drama, .fiction, .horror, .romance, .tv-show  {
    color: white;
    margin-left: 9em;
    margin-top: 1.5em;
}

.tv-show {
    margin-bottom: 7em;
}

